body > div:first-of-type{ 
    display: flex;
    flex-direction: column;
    align-self: center; 
}
footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: larger;
}
footer button {
    color: goldenrod;
    border: 0;
    background: none;
    text-decoration: underline;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: inherit;
}
footer a {
    font-style: inherit;
}
main div:first-child, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1 + div > a {
    margin: 20px;
}
textarea, form > div {
    width: 100%;
    margin: 10px auto;
}
#content {
    font-size: large;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 0 10%;
}
#content > p:first-of-type {
    margin: 10px 5px;
    font-family: cursive;
    font-size: x-large;
}