* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    list-style-type: none;
    background-color: aqua;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
header > div:first-of-type {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.imgdiv{
    border-radius: 50%;
}
img {
    max-width: 100%;
}