body {
    padding: 10px;
}
header > div:first-child {
    display: flex;
    justify-content: center;
}
body > div {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    margin-top: 10px;
}
main{
    flex-grow: 1;
    margin-left: 10px;
}
main > h1{
    display: flex;
    justify-content: center;
}
aside {
    padding: 15px;
}
aside li {
    margin: 5px auto;
}