main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px;
}
h1, h3 {
    margin-bottom: 10px;
}
.imageDiv img{
    max-height: 400px;
    margin: 0 auto;
}
.imageDiv {
    margin: 5px;
}
@media screen and (min-width: 1200px) {
    .imageGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: 0 5px;
    }
    .imageDiv {
        display: flex;
    }
}


