@keyframes carousel {
  from {
    transform: translateX(0) scale(1);
  }
  to {
    transform: translateX(100%) scale(1.5);
  }
}
.menu {
  display: flex;
  margin-top: 10px;
}
.menuitems {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.4);
  background-color: aquamarine;
  margin-top: 3px;
  padding: 5% 1% 0;
  position: absolute;
  z-index: 100000;
  left: 0;
  right: 0;
  height: 80%;
  border-radius: 0 20px 20px 0;
  text-align: center;
}
.menuitems > li {
  margin: 10px 0;
}
header {
  margin-top: 2vw;
}
header > h1,
header > h4 {
  display: flex;
  justify-content: center;
  text-align: center;
}
header > p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 3% 0;
}
main {
  margin: 0 2%;
}
.project {
  background-color: #afcdcd;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.4);
}
.project > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
.project > div:first-of-type > div {
  text-align: center;
}
.project > p {
  padding: 0 3%;
}
.project h2 {
  text-align: center;
  color: darkblue;
  letter-spacing: 5px;
  margin-top: 5%;
}
.pics {
  display: flex;
  gap: 10px;
  overflow: hidden;
  padding: 30px 10px;
}
.pics > div {
  display: flex;
  flex: 0 0 100%;
  transition: translate 2s ease-in;
}
.pics > div img,
.pics > div video {
  max-width: 100%;
}
.pics > div video {
  height: 45vh;
  width: 100%;
  background-color: floralwhite;
  padding: 5px;
}
@media screen and (min-width: 40em) {
  .menuitems {
    width: 20%;
  }
  .pics {
    flex-wrap: wrap;
  }
  .pics > div {
    flex: 1;
  }
  header > p {
    margin: 4% 0;
  }
  img, video {
    min-width: 16em;
  }
}
