.addproj {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
}
.addproj > h1 {
  display: flex;
  justify-content: center;
}
.addproj form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.addproj form > * {
  text-align: center;
  padding: 10px;
}
.addproj > form > button {
  width: max-content;
  background-color: burlywood;
  margin: 0 auto;
}
.addproj > form > textarea {
  resize: none;
}
