.addproj {
  display: flex;
  flex-direction: column;
  height: 97vh;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.addproj form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.addproj form * {
  text-align: center;
  padding: 10px;
}
